#artists-albums-and-songs-sitemaps-content {
  margin-right: 20px;
}

	#artists-albums-and-songs-sitemaps-content .artists-albums-and-songs-sitemaps-card-wide {
	  width: 100%;
	  margin-bottom: 20px;
	}


#global .progressbar {
  background-color: rgb(244, 67, 54);
}


#progress-card .mdl-progress {
  width: 100%;
}

#progress-card .mdl-card__supporting-text {
  width: auto;
}


#progress-card span.mdl-spinner.mdl-spinner--single-color.mdl-js-spinner.is-active.is-upgraded {
  margin-left: 15px;
}

#loading-card .mdl-card__supporting-text {
  text-align: center;
}

#progress-card li.mdl-list__item {
  display: block;
}

	#progress-card li.mdl-list__item .mdl-list__item-primary-content {
	  margin-bottom: 10px;
	}

.fixedElement {
    position:sticky;
}
